.update {
  display: flex;
  flex-direction: column;
}

.update__icon {
  margin-top: 12px;
}

.update__icon_visibility_show {
  opacity: 1;
}

.update__icon_visibility_hide {
  transform: scale(0);
  transition: transform .8s;
}