.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

input[type=range].slyder {
  border: none;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    margin-top: -8px;
    border-radius: 50%;
    background: #63B297;
    cursor: pointer;
  }
  
  &::-moz-range-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #63B297;
    user-select: none;
    cursor: pointer;
  }
}