.goods-sum {
  display: flex;
  flex-direction: column;
  margin-top: 28px;
  font-weight: 500;
  width: 100%;
  
  @media(max-width: 920px) {
    margin-top: 20px;
  }
}

.total-goods-sum {
  margin-top: 24px;
}

.goods-sum_visibility_hidden {
  display: none;
}

.goods-sum__text, .goods-sum__price {
  margin: 0 auto;
}

.goods-sum__price {
  margin-top: 2px;
  font-size: 1.8rem;
  
  @media(max-width: 400px) {
    font-size: 1.5rem;
  }
}