.user {
  display: none;
  position: relative;
  height: inherit;
  padding: 0 0 0 10px;

  &:hover {
    transition: .3s;
    background-color: #67A9C3;
    .dropdown-user-content {
      display: block;
    }
  }
  
  a {
    display: block;
    color: #ffffff;
    line-height: inherit;

    &:hover, &:active, &:visited {
      color: #ffffff;
    }

    i {
      float: right;
      height: inherit;
      line-height: inherit;
    }
  }

  li a {
    color: #000000;
    
    &:hover, &:active, &:visited {
      color: #000000;
    }
  }

  @media(min-width: 821px) {
    display: block;
  }
}

.dropdown-user {
  position: relative;
}

.dropdown-user-content {
  display: none;
  position: absolute;
  right: 0;
  min-width: 240px;
  margin: 0;
  z-index: 99;
  line-height: 3rem;
  background-color: #f9f9f9;

  li {
    a {
      box-sizing: border-box;
      padding: 0 18px;
    }
    
    &:hover {
      cursor: pointer;
      background-color: #e7e7e7;
      transition: .3s;
    }
  }

  @media(max-width: 920px) {
    font-size: 14px;
    line-height: 2.4rem;
  }
}