.credit-calculator-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;

  @media(max-width: 720px) {
    display: none;
  }
}

.credit-calculator {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 30px 0 36px;

  & :last-child {
    margin-right: 0;
  }
}

.credit-calculator-item {
  margin-right: 4%;
}

.credit-calculator-item__header {
  font-weight: 500;

  @media(max-width: 920px) {
    font-size: 14px;
  }
}

.credit-calculator-item__text {
  font-weight: 500;
  font-size: 1.8rem;

  @media(max-width: 920px) {
    font-size: 1.6rem;
  }
}
