.quantity {
  margin-left: 20px;
  display: flex;
  border: 1px solid #767676;
  border-radius: 4px;
  width: 90px;
  height: 40px;

  span {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 8px;

    &:first-child, &:last-child {
      cursor: pointer;
    }
  }

  @media(max-width: 820px) {
    width: 86px;
    height: 38px;
 }

  @media(max-width: 920px) {
   margin-left: 0;
 }
}
