.card-wrapper {
  display: flex;
  flex-direction: column;
  padding: 12px 24px 24px;
  background-color: #ffffff;
  max-width: 560px;
  margin: 0 auto 20px;
}

.card-wrapper_remove_animation {
  transform: scale(0);
  opacity: .3;
  transition: opacity .2s;
  transition: transform .3s;
}

.goods-card-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.goods-card-number {
  font-weight: 100;
  font-size: 1.8rem;
  color: #a1a1a1;
}

.goods-card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.goods-card-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.goods-card-item__category {
  color: #757575;
  font-size: 1.3rem;
  line-height: 1.5rem;
  margin-bottom: 6px;
  
  @media(max-width: 920px) {
    font-size: 1.3rem;
    line-height: 1.1rem;
    margin-bottom: 10px;
  }
}

.goods-card-item__brand {
  font-size: 1.7rem;
  line-height: 1.9rem;
  margin-bottom: 20px;
  
  @media(max-width: 920px) {
    font-size: 1.5rem;
    line-height: 1.7rem;
  }
}

.goods-card__cost {
  font-weight: 500;
  margin-top: 16px;
}

.cost-number {
  font-size: 1.7rem;
}

.remove {
  color: #c0c0c0;
  cursor: pointer;

  &:hover {
    color: tomato;
  }
}