$color_menu_active: #ffffff;
$color_menu_noactive: #2B3464;

.menu {
  margin: 0;
  padding: 0;
  list-style: none;

  @media(max-width: 920px) {
    font-size: 14px;
  }

  @media(max-width: 820px) {
    display: none;
  }
}

.menu__item {
  float: left;
  text-transform: uppercase;
  padding: 0 10px;
  margin: 0 10px;

  @media(max-width: 920px) {
    margin: 0;
  }
}

.menu__item_active {
  color: $color_menu_active;
  padding: inherit;
  
    &:hover {
    transition: .3s;
    background-color: #67A9C3;
    cursor: pointer;
  }
}

.menu__item_noactive {
  color: $color_menu_noactive;
  padding: inherit;
}

.menu__item_active, .menu__item_noactive {
  display: flex;
  height: 100%;
  width: 100%;
}

.application {
  display: flex;
  color: $color_menu_active;
  background-color: #63B297;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  margin-left: 6px;
}