.menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 12px 0 0 0;
  padding: 0;
  line-height: 1.8rem;
}

.menu__item {
  text-transform: uppercase;
  padding: 4px 0 4px;
  width: fit-content;
}

.menu__item_active {
  color: #5a6ca0;

  &:hover {
    cursor: pointer;
  }
}

.menu__item_noactive {
  color: #000000;
}

.menu__item_active, .menu__item_noactive {
  display: flex;
  align-items: center;
  padding: 0 12px;
}

.requests {
  color: #2db788;

  &::before {
    content: '\00A0\2013\00A0';
    color: #000000;
  }
}